#homeCurrentEventContainer {
@extend %noselect;
width: 100%;    
position: relative;
height: 100%; 
/* -webkit-box-shadow: inset 0px 75px 100px 0px #000000, inset 0px -75px 100px 0px #000000; 
box-shadow: inset 0px 75px 100px 0px #000000, inset 0px -75px 100px 0px #000000; 
 */
margin: 3rem 0  2rem 0;
background-image: url(https://images.contentstack.io/v3/assets/bltad9188aa9a70543a/blt3ba7d3ca87334f1c/6140ef1364c8007a9bde98fb/Worlds_2021_Header.jpg?width=1600&height=900);
background-size: cover;
background-position: center;

overflow: hidden;
/* max-height: 90vh; */

}
