#homePreviewContainer {
  @extend %noselect;
  position: relative;
  height: 100%;
  background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt7b94ccbe5e7a192f/6331e7f4a2ca982a1c793dd1/T2-Prime-SBSyndra-Gaming_1280x720_TTan_v01.jpg");
  background-size: cover;
  background-position: 0% 95%;
  -webkit-box-shadow: inset 0px 75px 100px 0px #000000,
    inset 0px -75px 100px 0px #000000;
  box-shadow: inset 0px 75px 100px 0px #000000,
    inset 0px -75px 100px 0px #000000;
}

#homePreviewRotationChamp {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

#homePreviewAmazonPrimeContainer {
  position: absolute;
  left: 3.5vw;
  bottom: 18vh;
  & p {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: $textIconHover;
    font-weight: bold;
    &:last-of-type {
      color: $textIcon;
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }
  & button {
    font-weight: bold;
    font-size: 1.05rem;
  }
}

#homePreviewContentRelated {
  position: absolute;
  right: 2rem;
  bottom: 4rem;
  display: flex;
  gap: 1rem;
  & a {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    cursor: pointer;
    & div {
      outline: 2px solid rgb(16, 14, 20);
    }
    &:hover div {
      outline: 2px solid $textIcon;
      filter: brightness(1.1);
    }
    & p {
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  & .homePreviewContentRelatedCell {
    width: 16vw;
    & a > div {
      aspect-ratio: 16/9;
      background-image: var(--background);
      background-size: cover;
    }
  }
}
