#homeCurrentEventContainer {
  @extend %noselect;
  width: 100%;
  position: relative;
  height: calc(100% - 3rem);
  -webkit-box-shadow: inset 0px 75px 100px 0px #000000,
    inset 0px -75px 100px 0px #000000;
  box-shadow: inset 0px 75px 100px 0px #000000,
    inset 0px -75px 100px 0px #000000;

  margin: $subNavHomeHeight 0 0 0;

  overflow: hidden;
  max-height: calc(
    100vh - $heightNav - $subNavHomeHeight - $mainNavContainerTopBorder -
      $mainNavContainerBottomBorder
  );
  display: flex;
}

#homeCurrentEventGrid {
  $firstRow: 1;
  $lastRow: 12;
  $firstCol: 1;
  $lastCol: 24;
  $rightColWidth: 5;
  $topRowHeight: 6;
  $middleRowHeight: 4;

  display: grid;
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat($lastCol, 1fr);
  grid-template-rows: repeat($lastRow, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  width: 100%;
  padding: 1px 12px 12px 12px;
  & > div {
    min-width: 100%;
    cursor: pointer;
    outline: 1px solid grey;
  }

  & .homeCurrentEventGridCell {
    -webkit-box-shadow: inset 0px -25vh 100px -80px #000000e7;
    box-shadow: inset 0px -25vh 100px -80px #000000e7;
    &:hover {
      -webkit-box-shadow: inset 0px -200px 100px -80px #1300a180;
      box-shadow: inset 0px -200px 100px -80px #1300a173;
    }
    transition: all 0.2s ease-in-out;
    & > a {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0;
      padding: 1rem;
      gap: 0.5rem;
      height: 100%;
      text-transform: uppercase;
      & > p {
        letter-spacing: 0px;
        color: whitesmoke;
        &:first-of-type {
          font-weight: 900;
          color: whitesmoke;
          letter-spacing: 0px;
        }
        &.subText {
          font-size: 0.8rem;
        }
      }
    }

    &[data-cell-type="middleRow"] {
      -webkit-box-shadow: inset 0px -15vh 100px -60px #000000;
      box-shadow: inset 0px -15vh 100px -60px #000000;
      &:hover {
        -webkit-box-shadow: inset 0px -15vh 100px -60px #1300a1cb;
        box-shadow: inset 0px -15vh 100px -60px #1300a1cb;
      }
    }

    &[data-cell="featuredVideo"] {
      grid-area: #{$firstRow} / 1 / #{$firstRow + $topRowHeight} / #{$lastCol -
        11};
      background-image: url("https://i3.ytimg.com/vi/n_VGPg-IAy4/maxresdefault.jpg");
      background-size: cover;
      background-position: center;
      & > a {
        & > p {
          &:first-of-type {
            font-size: 1.5rem;
          }
        }
      }
    }
    &[data-cell="featuredGame"] {
      grid-area: #{$firstRow} / #{$lastCol - 11} / #{$firstRow + $topRowHeight} /
        #{$lastCol - 5};
      background-image: url("https://i.ytimg.com/vi/w7JjhMLZroU/maxresdefault.jpg");
      background-size: cover;
      background-position: center;
    }

    &[data-cell="worldsFormat"] {
      grid-area: #{$firstRow + $topRowHeight} / 1 / #{$firstRow + $topRowHeight +
        $middleRowHeight} /#{$lastCol - 16};
      background-image: url("https://i.ytimg.com/vi/SlIvBGe6FiI/maxresdefault.jpg");
      background-size: cover;
    }
    &[data-cell="carouselMiscellaneous"] {
      grid-area: #{$firstRow + $topRowHeight} / #{$lastCol - 16} / #{$firstRow +
        $topRowHeight + $middleRowHeight} / #{$lastCol - 9};
      background-image: url("https://i3.ytimg.com/vi/C3GouGa0noM/maxresdefault.jpg");
      background-size: cover;
    }
    &[data-cell="carouselSkins"] {
      grid-area: #{$firstRow + 6} / #{$lastCol - 9} / #{$firstRow +
        $topRowHeight + $middleRowHeight} / #{$lastCol - $rightColWidth};
      background-image: url("   https://preview.redd.it/coven-akali-splash-art-v0-qsmc0mdqhmqb1.png?width=640&crop=smart&auto=webp&s=13f15d10eca4331f384107198685d807d346e412");
      background-size: cover;
      background-position: center;
      & .subText {
        display: flex;
        flex-direction: row;
        align-items: center;
        & img {
          width: 1.2rem;
          height: 1.2rem;
          margin-right: 4px;
        }
      }
    }
    &[data-cell="planning"] {
      grid-area: #{$firstRow} / #{$lastCol - $rightColWidth} / 8 / #{$lastCol +
        1};
      &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &[data-cell="worldPass"] {
      grid-area: 8 / #{$lastCol - $rightColWidth}/ #{$lastRow + 1} / #{$lastCol +
        1};
      background-image: url("https://pbs.twimg.com/media/F6jrU_aXoAAsSiK.jpg");
      background-size: cover;
      background-position: center;
    }
    &[data-cell="footer"] {
      grid-area: #{$firstRow + $topRowHeight + $middleRowHeight} / 1 / #{$lastRow +
        1} / #{$lastCol - $rightColWidth};
      background-color: transparent;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 0 0 1rem;
      & > img {
        height: 60%;
      }
      &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

#homeCurrentEventFooterLinks {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;
  & > div {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #0000ff;
      & > a > img {
        filter: saturate(0) brightness(999);
      }
    }
  }
  & > div > a {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    & > p {
      color: whitesmoke;
    }
    & > img {
      width: 1.2rem;
    }
  }
}
