$textIcon : rgb(205, 190, 145); // #cdbe91
$textIconHover : rgb(240, 230, 210); //#f0e6d2
$textIconHoverShadow : rgba(240, 230, 210, 0.2);
$primaryBlue : #010a13;
$primaryBlueLighten: rgb(30, 35, 40);
$lightGrey : rgba(128, 128, 128, 0.500);
$lightGreyBGbuttons : #1e2328;
$darkGreen : rgb(9, 166, 70);
$lightGreen : rgb(101, 245, 158);
$golden : darken($textIcon , 25% );
$idleColor: rgb(32, 151, 32);
$queueColor:rgb(114, 196, 221);
$afkColor : rgb(59, 59, 59);


%flexCenterXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

%greyed {
filter: saturate(0);
}


%absoluteTranslate {
    display: flex;
    align-items: center;
    justify-content: center;
}

%noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@mixin absolute-el ($top, $right, $bottom, $left, $x, $y ) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x,$y);    
} 





$heightNav: 11vh;
$heightSocialsFooter : 2.5rem;

@import 'libs/reset.scss';
@import 'mainNav.scss';
@import 'socials.scss';
@import 'home.scss';
@import 'subNavHome.scss';


body
{
    color: $textIcon;
    background-color: $primaryBlue;
    font-family: sans-serif;
  /*   overflow: hidden; */
}


#bodyApp {
    display: flex;
    min-height: calc(100vh - $heightNav - 3px);
   /*  background-color: red; */
    justify-content: flex-end;

}

.greyed {
    filter: saturate(0) brightness(40%);
}

.disabled {
   cursor: default;
}

.hidden {
 display: none;
}

.button {
    text-decoration: none;
    color: $textIcon;
    letter-spacing: 1px;
    font-size: 0.9rem;
    padding: 0.8rem 1.2rem;
    background-color: $primaryBlueLighten;
    cursor: pointer;
        border-image-slice: 1;
        border-width:2px;
        border-image-source: linear-gradient(to top, #7b5d29, #c8a96c);
 /*        transition: all 0.1s ease-in; */
    &:hover {
        color: $textIconHover;
        border-image-source: linear-gradient(to top, lighten(#7b5d29, 25%), lighten(#c8a96c, 25%));
        -webkit-box-shadow: inset 0px 0px 5px 1px lighten(#c8a96c73, 2%); 
        box-shadow: inset 0px -5px 20px 1px lighten(#c8a96c73, 2%);
    }
}


#clashContainer, #tftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid grey;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: grey transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }