.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  overflow: hidden;  
}
@media (max-width: 1080px) {
  .App {
    background-color: black;
    & > * {
     display: none;
    }
  } 
 }